{# @copyright Copyright (c) 2022 Palantir.net #}

{% import _self as menus %}

<div class="nav-footer-secondary">
  {{ menus.nav_footer_secondary(items, 0) }}
</div>

{% macro nav_footer_secondary(items, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <nav class="nav" aria-label="Footer secondary navigation">
      <ul class="nav-footer-secondary__list nav-footer-secondary__list-level-{{ menu_level }}">
    {% else %}
      <ul class="nav-footer-secondary__list-sub nav-footer-secondary__list-sub-level-{{ menu_level }}">
    {% endif %}
    {% for item in items %}
      <li class="nav-footer-secondary__item nav-footer-secondary__item-level-{{ menu_level }}{{ item.below ? ' has-children' }}">
        <a class="nav-footer-secondary__link" href="{{ item.url }}">
          {{ item.title }}
        </a>
        {% if item.below %}
          {{ menus.nav_footer_secondary(item.below, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
    {% if menu_level == 0 %}
      </nav>
    {% endif %}
  {% endif %}
{% endmacro %}
